$orange:        #ed5b28;
$bark:          #8d6b4c;
$sage:          #737d5a;
$olive:         #518e3c;
$viridian:      #1fa36a;
$prussiangreen: #27b397;
$lightblue:     #5298ce;
$blue:          #465acb;
$purple:        #9851c4;
$magenta:       #c752c7;
$pink:          #e86ba9;
$red:           #df4242;

$accent_color: $orange;
