// Window buttons
$close_bg_color: #e9583b;
$close_bg_color_active: #f08a75;
$min_bg_color: #f3bb2e;
$min_bg_color_active: #f7cf6c;
$max_bg_color: #3fcd17;
$max_bg_color_active: #78dc5c;
$window_button_backdrop: gtkalpha(currentColor, .2);

